* {
    padding: 0px;
    margin: 0px;
    background-color: aqua;
}

/* En este documento voy a trabajar con las propiedades del grid para maquetar la pagina */

.conteiner {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 20% 10% 20% 10% 20% 10% 20% 10% 20% 20% 15%;
    margin: 10px;
}

    .conteiner div,
    .conteiner section,
    .footer {
        border: 2px solid black;
    }


.banner,
.titulo1,
.titulo2,
.titulo3,
.titulo4,
.footer {
    grid-column: 1 / span 2;
    text-align: center;
}

