* {
    padding: 0px;
    margin: 0px;
}

/* En este documento voy a trabajar con las propiedades del grid para maquetar la pagina */

.conteiner {
    max-width: 1000px;
    min-width: 350px;
    display: grid;
    grid-template-columns: 50% auto;
    margin: 10px;
    justify-content: center;
}

    .conteiner div,
    .conteiner section,
    .footer {
        border: 2px solid black;
    }


.banner,
.titulo1,
.titulo2,
.titulo3,
.titulo4,
.footer {
    grid-column: 1 / span 2;
    text-align: center;
}

.banner {
   min-width: 350px;
}
    .banner img {
        width: 100%;
        height: 100%;
    }

.titulo1,
.titulo2,
.titulo3,
.titulo4 {
    margin: 10px ;
}

.pdf1 {
    padding: 10px;
}
    .pdf1 iframe {
        width: 100%;
        height: 21rem;
    }

.video1 {
    padding: 10px;
    /* para centrarlo horizontalmente es necesario que le ponga el display flex al padre y luego aplicar align items */
    display: flex;
    align-items: center;
}
    .video1 iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

.pdf2 {
    padding: 10px;
}
    .pdf2 iframe {
        width: 100%;
        height: 21rem;
    }

.link1,
.link2,
.link3,
.link4,
.link5 {
    display: flex;
    justify-content: center;
    align-items: center;
}    
    .link1 img,
    .link2 img,
    .link3 img,
    .link4 img,
    .link5 img {
        width: 9rem;
    }

.pdf3 {
    padding: 10px;
}
    .pdf3 iframe {
        width: 100%;
        height: 21rem;
    }

@media screen and (max-width: 750px){
    
    .video1,
    .pdf1,
    .pdf2,
    .pdf3,
    .link1,
    .link2,
    .link3,
    .link4,
    .link5 {
        grid-column: 1 / span 2;
    }   
    .pdf1 iframe {
        height: 21rem;
    } 
}